
@{
    ViewBag.Title = "Conputed";
}

<h2>пример использования ывчисляемого свойства </h2>

<div class="body-content">
    <div class="row">
        <div id="example">
            <p>Изначальное сообщение: "{{ message }}"</p>
            <p>Сообщение задом наперёд: "{{ reversedMessage }}"</p>
        </div>
    </div>


    <div class="row">
        <div id="example2">
            <p>Изначальное сообщение: "{{ message }}"</p>
            <p>Сообщение задом наперёд: "{{ reversedMessage }}"</p>
        </div>
    </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js"></script>
<script src="~/scripts/VueJS/example.js"></script>
<script src="~/scripts/VueJS/example2.js"></script>

