@model AspNetVue.Models.ProfileVM

@{
    ViewBag.Title = "Index";
}


<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js"></script>

<h2>Index</h2>
<div id="profileApp" v-cloak>

    <style>
          .privacy_item i.on {
        color: #35ca4a;
    }

          .privacy_item i {
                margin-right: 5px;
                color: #282828;
                float: right;
                cursor: pointer;
            }

          .activeClass{
              background:red;
          }

    </style>


    <h1 v-if="testArray.length > 0">Да</h1>


    <p>Profile</p>
    <ul id="example-1">
        <li v-show="Profile != null" v-for="item in Profile">
            {{ item.Name }}
        </li>
    </ul>

    <p>Rewards</p>
    <ul id="example-1">
        <li v-for="item in Rewards">
            {{ item.Name }}
        </li>
    </ul>

    <p>ContactDetails</p>
    <ul id="example-1">
        <li v-for="item in ContactDetails">
            {{ item.Name }}
        </li>
    </ul>

    <p>Course</p>
    <ul id="example-1">
        <li v-for="item in Course">
            {{ item.Name }}
        </li>
    </ul>

    <folder v-for="item in test" data="item"></folder>
  
    <hr/>
    <my-checkbox v-model="test" value="some value"></my-checkbox>

   
    <p>item in ContactDetails</p>

        <folder v-for="item in ContactDetails"
                label="item.Name"
                ischeck="item.IsChecked"
                value="item.Name"
                v-bind:disabled="item.IsChecked"
                class="{active: true}"
                v-bind:class="{ active: item.IsChecked }"
                v-on:click="changeStatus" />

    
    <hr />

    <div class="form-group current">
        <my-component6   v-for="item in Course"></my-component6>
    </div>

    <hr/>

    <div class="form-group">
        <my-component></my-component>
    </div>
    <div class="form-group">
        <my-local-component></my-local-component>
    </div>

    <div class="form-group">
        <my-component3 data="hello"></my-component3>
    </div>

    <div class="my-component4">
        <my-component4 data="hello3" value2="test value "></my-component4>
    </div>

    <div class="form-group">
        <my-component5 name="name" value="value" label="label value" checked="true"></my-component5><br />
        <my-component5 name="name" value="value" label="label value" checked="false"></my-component5>
    </div>
</div>

<script>

    var array = [ {Name: "Home", IsChecked: false},
        {Name: "People", IsChecked: false},
        {Name: "Wolrd", IsChecked: false}];


    Vue.component('my-checkbox', {
        model: {
            prop: 'checked',
            event: 'change'
        },
        props: {
            // this allows using the `value` prop for a different purpose
            value: String,
            // use `checked` as the prop which take the place of `value`
            checked: {
                type: Number,
                default: 0
            }
        },
        // ...
    })

    Vue.component('folder', {
        props: ['label','ischeck','value','boxStatus'],
        template: '<div><input type="checkbox" name="vehicle" value="{{value}}" checked="{{ischeck}}" ><label >{{label}}</label></div>',
        methods: {
        changeStatus: function(e) {
            this.boxStatus = !this.boxStatus;
        }
    }
    })
    
   

    var model = @Html.Raw(Json.Encode(Model));
    //---------------------------------------------------------------

    //-------------------------------------------------------------------
    Vue.component('my-component', {
        template: '<div>Пользовательский глобальный компонент!</div>'
    })

    var Child = {
        template: '<div>Пользовательский локальный компонент!</div>'
    }

    Vue.component('my-component3', {
        props: ['data'],
        template: '<p>{{data}}</p>'
    })

    Vue.component('my-component4', {
        props: ['data','value2'],
        template: '<span>{{data}}</span>&nbsp;<span class="test">{{value2}}</span>'
    })

    
    Vue.component('my-component5', {
        props: ['name','value','label','checked'],
        template: '<input type="checkbox" name="vehicle" value="{{value}}" checked="{{checked}}" ><label>{{label}}</label>'
    })

    Vue.component('my-component6', {
        props: ['label','value','checked'],
        template: '<input type="checkbox" name="vehicle" value="{{value}}" checked="{{checked}}" >'+
            '<label >{{label}}</label>'
  
    })

    var vm = new Vue({
        el: '#profileApp',
        created: function () {
            sleep(2000);
            console.log(model);
            // Profile = model;
            ///   this.fetchV1IntermediaryUsers(model);

        },

        data: {
            testArray : [],
            ContactDetails: [
             {'Name' : 'Home',  'IsChecked': true},
             {'Name' : 'People',  'IsChecked': false},
             {'Name' : 'Wolrd',  'IsChecked': false}
            ],
            Course:[] ,
            Profile:[] ,
            Rewards:[],
            test : [ "Home", "People",  "Wolrd"]

        },
        methods: {
            submit: function() {
                var self = this;
                $.ajax({
                    method: "POST",
                    processData: false,
                    contentType: 'application/json',
                    dataType: 'json',
                    data: JSON.stringify(self.$data)
                });
            },

            fetchV1IntermediaryUsers: function(model)
            {
                this.ContactDetails = model.ContactDetails;
            }
        },

        components: {
            // <my-component> будет доступен только в шаблоне родителя
            'my-local-component': Child
        }



    })


    function sleep(ms) {
        var unixtime_ms = new Date().getTime();
        while(new Date().getTime() < unixtime_ms + ms) {}
    }

    // console.log(model.ContactDetails);
</script>
