@model AspNetVue.Models.ProfileVM

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div id="profileApp" v-cloak>

 
   
    <h1 v-if="testArray.length > 0">Да</h1>


    <p>Profile</p>
    <ul id="example-1" >
        <li v-show="Profile != null" v-for="item in Profile">
            {{ item.Name }}
        </li>
    </ul>

    <p>Rewards</p>
    <ul id="example-1">
        <li v-for="item in Rewards">
            {{ item.Name }}
        </li>
    </ul>

    <p>ContactDetails</p>
    <ul id="example-1">
        <li v-for="item in ContactDetails">
            {{ item.Name }}
        </li>
    </ul>    

    <p>Course</p>
    <ul id="example-1">
        <li v-for="item in Course">
            {{ item.Name }}
        </li>
    </ul>

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js"></script>


<script>

    var model = @Html.Raw(Json.Encode(Model));

    var vm = new Vue({
        el: '#profileApp',
        created: function () {
            sleep(2000);
            console.log('ready'); 
       // Profile = model;
            this.fetchV1IntermediaryUsers(model);

        },

        data: {   
            testArray : [],    
            ContactDetails: [],
            Course:[] ,
            Profile:[] ,
            Rewards:[] 
           
        },
        methods: {
            submit: function() {
                var self = this;
                $.ajax({
                    method: "POST",
                    processData: false,
                    contentType: 'application/json',
                    dataType: 'json',
                    data: JSON.stringify(self.$data)
                });
            },

            fetchV1IntermediaryUsers: function(model)
            {     
                this.ContactDetails = model.ContactDetails;               
            }


        }
       


    })


    function sleep(ms) {
        var unixtime_ms = new Date().getTime();
        while(new Date().getTime() < unixtime_ms + ms) {}
    }

   // console.log(model.ContactDetails);
</script>

